@model ViewModel
<div class="container">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="/logout"  >Logout</a>
        </div>
    </nav>

    <H2>Hello, @ViewBag.CurrentUser.First_Name !</H2>

    <div"formcontain">

        <table>
          <form  asp-action="addSecret" asp-controller="Home" method="post">

                <tr>
                    <td><span asp-validation-for="Secrets.Content"></span></td>
                </tr>
                    <!-- <label asp-for="Messages.Content"></label> -->
                <tr>
                    <td><textarea rows= '2' cols='73' name="content" asp-for="Secrets.Content" placeholder="You secret here..."> </textarea></td>                     
                </tr>
                <tr>
                    <td><button  class="btn btn-primary" type="submit" >Post</button></td>
                    <td><a href="Popular">Most Popular Secrets</a></td>
                </tr>

          </form>
        </table>

        <h1>Recent Secrets</h1> 

            <table> 
                @foreach (var secret in ViewBag.allSecrets) { 
                    <tr> 
                        <td>@secret.Content - (@secret.Created_At) @secret.Likers.Count likes 
                    
                    @if(ViewBag.CurrentUser == secret.Creator)
                    {
                        <a href="DELETE/@secret.Id" > Delete</a>
                    }
                    else
                    {
                        int Count =0;
                        @foreach(var liker in @secret.Likers)
                        {
                            @if(@liker.Liker == @ViewBag.CurrentUser)
                            {
                                Count =1;
                            }
                        }
                            @if(Count == 1)
                            {
                                <b>You Liked this!</b>
                            }
                            else
                            {
                                <a href="Like/@secret.Id">Like</a>
                            }

                        }
                          </td> 
                    </tr>
                    }
                      
                <!-- end main foreach -->
                
            </table>

    </div>
</div>

    








